.app {
  display: flex;
  flex-direction: column;
 
}
.app__container{
 background-color: rgb(43, 226, 226);
 display: flex;
}
.app__item{
  order: 0; 
}

@media only screen and (max-width: 768px) {
  .app__container{
  

  }
}

