.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items:stretch ; 
  height: 5rem;
}

.navbar__menu {
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 1.7rem;
  font-size: 1.7rem;
 
}

.navbar__icon{
 size: 20rem;
}

.navbar__menu:hover {
  cursor: pointer;
}


.navbar__item{
  padding: 1.4rem;
  text-align: center;
}

.navbar__items{
  display: flex;
}

.navbar__items--center{
  align-content: center;
  align-items:center ;
  margin-left: auto;
  margin-right: 3rem;
}


.navbar__items--right {
  align-content: flex-end;
  align-items:center ;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


.btn-menu {

    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 5rem;
   
    
  }

img.profile  {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .navbar__items,
    .navbar {
      flex-direction: row;
    }
  
  .navbar__items {
      display: flex;
  }
  
  .navbar__items--center {
    display: none;
  }
 

   img.icon  {
    display: none;
  }
  img.menu  {
    height: 3.6rem;
    width: 3.6rem;
  }

  
}


